{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h2>Reset Your Password</h2>
    <p>Enter your email address, and we will send you a link to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
</div>
{% endblock %}

